@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Hakkımızda</h3>
@{
    int count = 0;
}
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td><img src="@item.ImageUrl" style="height:50px; width:50px" /></td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>
                <button class="btn btn-outline-danger" onclick="deleteAbout(@item.AboutId)">Sil</button>
                <a class="btn btn-outline-info" asp-action="UpdateAbout" asp-route-id=" @item.AboutId">Güncelle</a>
            </td>
        </tr>
    }
</table>

<a class="btn btn-outline-success" asp-action="CreateAbout">Yeni Hakkımızda Verisi Ekle</a>


<script>
    function deleteAbout(id) {
        Swal.fire({
            title: "Silmek İstediğinize Emin misiniz?",
            text: "Bu işlemi geri alamazsınız!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, Sil!",
            cancelButtonText: "İptal"
        }).then((result) => {
            if (result.isConfirmed) {

                window.location.href = "/AdminAbout/DeleteAbout/" + id;
            }
        });
    }
</script>