@model List<Message>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h3>Gelen Mesajlar Kutusu</h3>
<br />
<table class="table table-bordered table-hover">
    <tr>

        <th>#</th>
        <th>İsim - Soyisim</th>
        <th>E-Mail</th>
        <th>Konu</th>
        <th>İçerik</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Subject</td>
            <td>@item.Content</td>
        </tr>
    }
</table>